{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Statistics">
    <meta name="author" content="{{author}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/ntaps_stats.css' %} ">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:900" rel="stylesheet">
    <title>
        {% block title %} Statistics {% endblock %}
    </title>
</head>
<body>
  <header>
      {% include "stats/partials/header.html" %}
  </header>
  <content>
          {% block content %}
          {% endblock %}
  </content>
  <footer>
      {% block footer %}
      {% include "stats/partials/footer.html" %}
      {% endblock %}
  </footer>
</body>
</html>
