.friend-title {
  font-family: 'Quicksand', sans-serif;
}
.list-item-title {
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 5px;
}
.list-item-content-text {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 3px;
}

.wrapper-page {
  display: flex;
  height: 100vh;
}

.wrapper-kiri {
  background: #ea5f4a;
  flex-basis: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-kanan {
  background-color: #fcb67a;
  flex-basis: 30%;
}

.wrapper-tengah {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-content {
  margin: 10px;
}

.wrapper-content-center {
  margin: 10px;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}

.form-main {
  width: 500px;
}

.scrollable {
  overflow: scroll;
}

.flex-list {
  display: flex;
  flex-direction: column;
}

.flex-list-item {

  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  height: 15%;
}

.friend-list-item {
  text-align: left;
  background: #fd96b4;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px 0 #e25d8a;
  word-wrap: break-word;
}

.input-text {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  line-height: 40px;
  padding-left: 15px;
  font-size: 18px;
}

.input-text-inline-button {
  height: 50px;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  padding-left: 15px;
  font-size: 18px;
}

.inline-button {
  height: 50px;
  width: 20%;
  font-size: 18px;
  border-radius: 0px 5px 5px 0px;
  border: none
}

.text-white {
  color: #FFFFFF;
}

.divider {
  height: 1px;
  width:100%;
  display:block;
  margin: 10px 0;
  overflow: hidden;
  background-color: #606062;
}

.vertical-divider {
  border-left:1px solid #38546d;
  border-right:1px solid #16222c;
  height:200px;
  margin: 10px;
}

.error {
  border-radius: 5px;
  padding: 10px;
  background-color: #f2dede; /* Red */
  color: #a94442;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .wrapper-page {
    display: block;
  }

  .wrapper-kiri {
    height: 100%;
  }

  .wrapper-content {
    margin-top: 0px;
  }

  .friend-title {
    margin-top: 0px;
    padding-top: 10px;
  }

  .form-main {
    width: auto;
  }

  .input-text {
    font-size: 14px;
  }

  .input-text-inline-button {
    font-size: 14px;
  }

  .inline-button {
    font-size: 14px;
  }
}
