h1 {
  font-family: 'Quicksand', sans-serif;
}
h3 {
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
}
h4 {
  font-family: 'Nunito', sans-serif;
}

.wrapper-page {
  display: flex;
  height: 100vh;
}

.wrapper-kiri {
  background: linear-gradient(to bottom right, #606062, #393939);
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-kanan {
  background-color: #D5D5D5;
  width: 30%;
}

.wrapper-content {
  margin: 10px;
}

.form-main {
  width: 500px;
}

.scrollable {
  overflowrflow: scroll;
}

.flex-list {
  display: flex;
  flex-direction: column;
}

.flex-list-item {
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

.friend-list-item {
  text-align: left;
  background: #fff;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  word-wrap: break-word;
}

.input-text {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  line-height: 40px;
  padding-left: 15px;
  font-size: 18px;
}

.input-text-inline-button {
  height: 50px;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  padding-left: 15px;
  font-size: 18px;
}

.inline-button {
  height: 50px;
  width: 20%;
  font-size: 18px;
  border-radius: 0px 5px 5px 0px;
  border: none
}

.text-white {
  color: #FFFFFF;
}

.divider {
  height: 1px;
  width:100%;
  display:block;
  margin: 10px 0;
  overflow: hidden;
  background-color: #606062;
}

.error {
    border-radius: 5px;
    padding: 10px;
    background-color: #f2dede; /* Red */
    color: #a94442;
    margin-bottom: 10px;
}
