{% extends "add_friend/layout/base.html" %}
{% block content %}
<div class="wrapper-page">
  <div class="wrapper-kiri">
      <div class="wrapper-content">
        <h1 class="text-white">Add your friends!</h1>
        <form method="POST" action="{% url 'add_friend:create' %}" class="form-main">
          {% csrf_token %}
          <div>
            {{ add_friend_form.name }}
          </div>
          <div>
            {{ add_friend_form.url }}<button type="submit" class="inline-button">Submit</button>
          </div>
        </form>
      </div>
  </div>
  <div class="wrapper-kanan">
    <div class="wrapper-content">
      <h1>My friends
        <span style="float: right">
        {% if disable_prev %}
        <a href="#" class="disabled">&#8249;</a>
        {% else %}
        <a href="{% url 'add_friend:index' %}?offset={{ prev_offset }}"">&#8249;</a>
        {% endif %}
        {% if disable_next %}
        <a href="#" class="disabled">&#8250;</a>
        {% else %}
        <a href="{% url 'add_friend:index' %}?offset={{ next_offset }}">&#8250;</a>
        {% endif %}
        </span>
      </h1>
      <hr class="divider">
      <div class="flex-list">
        {% for friend in friends %}
          <div class="flex-list-item friend-list-item">
            <h3 >{{ friend.name }}</h3>
            <a href="{{ friend.url }}"><h4>{{ friend.url }}</h4></a>
            <h4><i>{{ friend.created_at }}</i></h4>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
