.navbar-static-top {
  margin-bottom: 19px;
}

.img-circle {
    border-radius: 50%;
    margin: 0 auto;
    display:block;
}

ul.exprestise {
  padding: 0;
  text-align: center;
}

.expertise li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
  font-size: 1rem;
}

.expertise li:nth-child(odd) {
  background: #0399ff;
}

/*Textarea not resizeable*/
textarea {
  resize:none
}

.center {
  margin: auto;
}

h3 {
  margin: auto;
}

table, th, td {
    border: 2px solid darkgrey;
}
.subject{
    font-size: 20px;
    font-family: "Calibri";
    color: black;
}
.value{
    font-size: 20px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: snow;
}

#biodata{
    width: 760px;
}
