.navbar-static-top {
  margin-bottom: 19px;
  background-color: #a6ffde;
}

.navbar-brand{
  font-size: 25px;
  font-family: 'Orbitron', sans-serif;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: #f38959;
  text-shadow: 2px 2px #15233d;
}

.footer{
  background-color: #fcb67a;
  margin-bottom: 0px;
  text-align: center;
}

.footer p{
  margin-bottom: 0px;
}

.navbaraddf{
  width: 25px;
  height: 25px;
}

.navbarprofile{
  width: 25px;
  height: 25px;
}

.navbarstatus{
  width: 25px;
  height: 25px;
}

.navbarstats{
  width: 25px;
  height: 25px;
}

body{
  background-color: #fcb67a;
}

.name-style{
  text-shadow: 2px 2px #54d9d8;
  color: #b0f3c8
}
