.navbar-static-top {
  margin-bottom: 19px;
}

.navbar{
  margin-bottom: 0px;
}

.footer{
  background-color: #f8f8f8;
  margin-bottom: 0px;
  text-align: center;
}

.footer p{
  margin-bottom: 0px;
}

.navbaraddf{
  width: 25px;
  height: 25px;
}

.navbarprofile{
  width: 25px;
  height: 25px;
}

.navbarstatus{
  width: 30px;
  height: 25px;
}

.navbarstats{
  width: 25px;
  height: 25px;
}
