.navbar-static-top {
  margin-bottom: 19px;
  background-color: #9ddeff;
}

.navbar-brand{
  font-size: 25px;
  font-family: 'Orbitron', sans-serif;
  color: #35014c;
}

.navbar{
  margin-bottom: 0px;
}

.footer{
  background-color: #9ddeff;
  margin-bottom: 0px;
  text-align: center;
}

.footer p{
  margin-bottom: 0px;
}

.navbaraddf{
  width: 25px;
  height: 25px;
}

.navbarprofile{
  width: 25px;
  height: 25px;
}

.navbarstatus{
  width: 25px;
  height: 25px;
}

.navbarstats{
  width: 25px;
  height: 25px;
}

h1{
  text-align: center;
  color: #fcb67a;
}

body{
  background-color: #b0f3c8;
}
