{% extends "profile/layout/base.html" %}

{% block content %}
<h1><b>Profile</b></h1>
<img class="img-circle" src="https://vignette.wikia.nocookie.net/spongebob/images/9/95/Hash.jpg/revision/latest?cb=20120624212303" alt = "Me">
<h2><b><center>{{name}}</center></b></h2>
<hr>
<section name="profile">
  <div class="container" id="biodata">
    <div class="row">
      <div class="col-md-4"><h3><b>Birthday</b></h3></div>
      <div class="col-md-8"><h4>: {{birthday}}</h4></div>
    </div>
    <div class="row">
      <div class="col-md-4"><h3><b>Gender</b></h3></div>
      <div class="col-md-8"><h4>: {{gender}}</h4></div>
    </div>
    <div class="row">
      <div class="col-md-3"><h3><b>Expertise</b></h3></div>
      <div class="col-md-1" style="text-align:right" id="left"><h4>:</h4></div>
      <div class="col-md-8" id="right"><h3>
        <div class="center">
          <ul class="expertise">
            {% for ii in expertise %}
            <li> {{ ii }} </li>
            {% endfor %}
          </ul>
        </div></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><h3><b>Description</b></h3></div>
      <div class="col-md-8"><h4>: {{description}}</h4></div>
    </div>
    <div class="row">
      <div class="col-md-4"><h3><b>Email</b></h3></div>
      <div class="col-md-8"><h4>: {{email}}</h4></div>
    </div>
  </div>
</section>
{% endblock %}
