{% extends "profile/layout/base.html" %}

{% block content %}
<h1><b>Profile</b></h1>
<img class="img-circle" src="https://vignette.wikia.nocookie.net/spongebob/images/9/95/Hash.jpg/revision/latest?cb=20120624212303" alt = "Me">
<h2><b><center>{{name}}</center></b></h2>
<hr>
<section name="profile">
  <h3><b>Birthday</b> : {{birthday}}</h3>
  <h3><b>Gender</b> : {{gender}}</h3>
  <ul class="expertise">
    {% for ii in expertise %}
    <li> {{ ii }} </li>
    {% endfor %}
  </ul>
  <h3><b>Description</b> : {{description}}</h3>
  <h3><b>Email</b> : {{email}}</center></h3>
</section>
{% endblock %}
